<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<style>
body{
background: linear-gradient(45deg, #6a11cb, #2575fc);
color:white;
text-align:center;
padding-top:100px;
}
input,button{
padding:10px;
margin:5px;
width:250px;
}
</style>
</head>

<body>

<h2>CSC 201 CBT Login</h2>

<form method="POST">
<input name="username" placeholder="Username"><br>
<input name="student_id" placeholder="Student ID"><br>
<input name="password" placeholder="Password"><br>
<button>Login</button>
</form>

</body>
</html>
